.contentbrowser-enter, .contentbrowser-leave {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 51s;
}

.contentbrowser-enter {
	position: absolute;
	opacity: 0;
}

.contentbrowser-enter-active {
	opacity: 1;
}

.contentbrowser-leave {
	position: absolute;
	opacity: 0;
}

.contentbrowser-leave-active {
	position: absolute;
	opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
	display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
	line-height: 0;
	opacity: 0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
	line-height: 20px;
	opacity: 1;
}