.well
{

}
/*
 * Off Canvas
 * --------------------------------------------------
 */
	.row-offcanvas {
		position: relative;

	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		/*left: -90%;*/
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		/*left: 90%; *//* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 90%; /* 6 columns */
	}
