<form class="form-signin">
    <h2 class="form-signin-heading">Welcome to Mobile Launchpad</h2>
    <input type="email" class="form-control" autofocus="" name="username" placeholder="yourname@email.com" required ng-model="user.username">
    <input type="password" name="password" class="form-control" placeholder="Password"  required ng-model="user.password">

    <button class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled="{{ loading }}">{{ loading ? "Signing In" : "Sign In" }}</button>
</form>