
	<div class="row " >
		<div class="sidebar-offcanvas offcanvas scrollable" role="navigation" id="sidebar"
		     ng-class="{active: $parent.showContentBrowser}">
				<!--<ul class="nav nav-pills nav-justified">-->
					<!--<li class="active"><a>LaunchPad</a></li>-->
					<!--<li><a>eBook</a></li>-->
				<!--</ul>-->
			<div class="well sidebar-nav">
				<div ui-view="contentbrowser" ></div>
			</div>
		</div>
		<div class="container offcanvas" ui-view="contentviewer"
		     ng-class="{active: $parent.showContentBrowser}"></div>
	</div>
