<nav  class="navbar navbar-inverse navbar-fixed-top offcanvas col-md-12 col-sm-12 col-xs-12" role="navigation" ng-controller="TopnavCtrl"
      ng-class="{active: $parent.showContentBrowser}" >
    <div class="navbar-header col-md-3 col-sm-3 col-xs-3 ">
	    <a class="navbar-brand" ng-click="toggleLaunchpad()"><span class="glyphicon glyphicon-book" ></span>  Launchpad</a>
    </div>

	<!--center-->
	<div class="navbar-text col-md-6 col-sm-6 col-xs-6 text-center">{{ title }}</div>


    <!-- Collect the nav links, forms, and other content for toggling -->

    <div ng-class="{'collapse': showCollapsedNav}" class="navbar-collapse navbar-ex1-collapse col-md-3 col-sm-3 col-xs-3 pull-right" >
        <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a ui-sref="main.contentbrowser">Chapter 1</a></li>-->
            <!--<li> <a ui-sref="main.contentviewer">Introduction</a></li>-->
        <!--</ul>-->
	    <button type="button" class="navbar-toggle" ng-click="showCollapsedNav = !showCollapsedNav">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
	    </button>
        <ul class="nav navbar-nav navbar-right">
	        <li><a ng-click="logout()">Logout</a></li>
            <!--<li class="dropdown" ng-init="showAccount = false">-->
                <!--&lt;!&ndash;<a class="dropdown-toggle" ng-click="showAccount = !showAccount">Account<b class="caret"></b></a>&ndash;&gt;-->
                <!--<ul class="dropdown-menu" style="display:block" ng-show="showAccount">-->
                    <!--<li><form class="navbar-form navbar-right" role="search">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Search">-->
                        <!--</div>-->
                    <!--</form></li>-->
                    <!---->
                    <!--&lt;!&ndash;<li><a href="#">Switch Course</a></li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</li>-->
        </ul>


    </div><!-- /.navbar-collapse -->
</nav>